body{
	background-color: black;
}
h1, i {
  -webkit-text-fill-color: rgba(255,0,0,0.3);
  color: transparent;
  background: url('../img/space.gif') repeat;
  -webkit-background-clip: text;

  font-family: 'Arial Black';
  text-transform: uppercase;
  font-size: 6em;
  text-align: center;
  letter-spacing: -2px;
  line-height: 110px;
}
.title{
	margin-top: 50px;
	margin-bottom: 80px;
}

h4{
  padding-bottom: 15%;
}

img{
	margin: 5% 0 0 0;
	width: 100px;
	height: 130px;
}
.m3{
	margin-bottom: 50px;
}